@CHARSET "ISO-8859-1";

#content #main h5,#accountContent #tablaPago table tr th{
font: bold 20px Verdana, Geneva, sans-serif;
color: #0C8141;
padding-bottom: 10px;
margin-bottom: 15px;
}

#content #main .bottomAdvert,#accountContent #tablaPago tr td .bottomAdvert{
	float: right;
	background-image: url(../img/botAdv.jpg);
	display: block;
	text-align: center;
	color: white;
	text-transform: uppercase;
	height: 17px;
	padding: 3px 20px 0;
	margin-left: 5px;
	font-size: 12px;
	font-family: Verdana;
}
#content #main input.bottomAdvert{
	float: right;
	background-image: url(../img/botAdv.jpg);
	display: block;
	text-align: center;
	color: white;
	text-transform: uppercase;
	height: 23px;
	padding: 3px 20px 3px;
	margin-left: 5px;
	font-size: 12px;
	font-family: Verdana;
	cursor: pointer;
}
#content #main p{
	color:#444444;
	font-size: 11px;
	font-family: Verdana;
}
#content #main hr{
	margin: 10px auto;
	width: 100%;
	background-color: #B2B2B2;
	height: 2px;
}

#content #main p span{
	color: #0C8141;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	margin:0px;
}

#content{
	width:980px;}
	
	
#sidebar{
	position:fixed;
	font:normal 12px Verdana, Geneva, sans-serif;
	background:url(../img/bg_01.png) top right repeat-y #f1f2f2;
	width:180px;
	height:100%;
	}
	#sidebar ul{
		margin-top: 20px;
	}
	
	.gecko #sidebar li{
		line-height:22px;
		text-align:right;
		/*height:40px;*/
		
		}
	.ie #sidebar li{
		line-height:22px;
		text-align:right;
		}
	
	.webkit #sidebar li{
		line-height:22px;
		text-align:right;
		}
	.opera #sidebar li{
		line-height:22px;
		text-align:right;
		}		
	.gecko #sidebar a{
		font-size:12px;
		color:#4d4d4d;
		display:block;
		/*margin-top:-17px;*/
		padding: 3px 5px;
		text-align: right;
		border-bottom: 1px solid #B4B4B4;
	}
	
	.ie #sidebar a{
		font-size:12px;
		color:#4d4d4d;
		display:block;
		margin-top:-17px;
		padding: 3px 5px;
		text-align: right;
	border-bottom: 1px solid #B4B4B4;
	}
	.ie #sidebar a.first{
		margin-bottom:17px;
	}
	
	.webkit #sidebar a{
		font-size:12px;
		color:#4d4d4d;
		display:block;
		margin-top:auto;
		padding: 3px 5px;
		text-align: right;
	border-bottom: 1px solid #B4B4B4;
	}
	.ie #sidebar span.title{
		color: #0C8141;
		text-align: right;
		padding: 0px 10px 0px 0px;
		width: 170px;
		display: block;
		margin-top: -17px;
		margin-bottom: 17px;
	}	
	#sidebar span.title{
		color: #0C8141;
		text-align: right;
		padding: 0px 10px 0px 0px;
		width: 170px;
		display: block;
	}
	#sidebar a.last{
	border: none;
	}
		
	#sidebar a:hover, #sidebar a.current{
		color: #0C8141;
		background-color: white;
		background-image: none;
		height: auto;
		text-decoration: none;
	}
	
#main{
	font:normal 12px Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	width: 568px;
	padding: 30px 10px 0;
	float: left;
	}
	
	#main h4{
		font:normal 12px Verdana, Geneva, sans-serif;
		color:#0c8141;
		padding-left:50px;
		margin-bottom:15px;}
	#main ul{
		border-bottom:1px solid #efefef;
		padding-bottom:10px;
		padding-left:0px;
		margin-bottom:10px;}
	#main li{
		width:420px; height:10px;
		border-bottom:1px solid #efefef;
		padding-bottom:10px;
		margin-bottom:6px;}
	#main li.last{
		border-bottom:none;
		padding-bottom:0;
		margin-bottom:10px;}
	
	.submit{
		width:420px;
		margin-top:20px;}
		.submit input{
			background:url(../img/submit.png) right top no-repeat;
			border: 0 none;
			text-indent:-999em;
			cursor:pointer;
			width:68px; height:15px;
			float:right;}
			
label.checkbox span.holder{height:38px;background:url(../../soccer/img/bg_checkbox.png) 0 -1px no-repeat}
label.radio span.holder{height:61px;background:url(../images/prettyCheckboxes/radio.gif) 0 -1px no-repeat}
label.checkbox:hover span.holder,label.radio:hover span.holder{top:-19px !important}
label.checked span.holder,label.checked span.holder,label.checked:hover span.holder,label.checked:hover span.holder{top:-19px !important}
label.list{float:left;clear:left;margin:0 0 5px 0}label.inline{float:left;margin:0 10px 0 0}
input.hiddenCheckbox{position:absolute;left:-10000px}
label.prettyCheckbox span.holderWrap{display:block;float:left;position:relative;margin-right:5px;overflow:hidden}
label.prettyCheckbox span.holder{display:block;position:absolute;top:0;left:0}
	
/* ----------------------- */

#main ul.none li{
	border:none;
	width:380px; height:auto;
	text-align:right;}
	
input.txt, input.inp_p, input.inp_cp{
	width:260px; height:25px;
	border-bottom:2px solid #efefef;
	margin-left:4px;
	padding-left:15px;
	color:#636363;
	border-top:none;
	border-left:none;
	border-right:none;}
	
	input.inp_p{
		border:none;}
	input.inp_cp{
		-moz-box-shadow:inset 0 2px 2px 0 #efefef;
   		-webkit-box-shadow:inset 0 2px 2px 0 #efefef;
   		box-shadow:inset 0 2px 2px 0 #efefef;
		border:1px solid #d9d9d9;}
		
.inp{
	margin-top:-8px;
	width:260px;
	float:right;}
	
	
	
	
	
	
/* ///LEFT MENU//// */	

#accountViewer{
margin-left: -180px;
margin-top: -20px;
position: relative;
z-index: 10;
}


.inpDivEm{
position:absolute;
}
.spInpp{
padding-left:18px;
}
.frmAdvCon span{
	font-family: Verdana;
	font-size: 11px;
	color: #4D4D4D;
	float: left;
	margin: 5px 0 3px;
	width: 100%;
}
#accountContent #tablaPago table tr td {
	font-family: Verdana;
	font-size: 11px;
	color: #4D4D4D;
	float: left;
	margin: 5px 0 3px;
	padding: 0;
}
.frmAdvCon input{
	border: 1px solid #E9E9E9;
	width: 100%;
	background-color: #ffffff;
	height: 23px;
}
#accountContent #tablaPago table tr td input {
	border: 1px solid #E9E9E9;
	width: 265px;
	background-color: white;
	height: 23px;
}
.frmAdvCon input#extencion{
	width: 99px;
	margin-right: 5px;
}
.frmAdvCon input#telefono{
	width: 390px;
}
.frmAdvCon textarea{
	border: 1px solid #E9E9E9;
	width: 100%;
	max-width: 100%;
	background-color: #ffffff;
	min-height: 40px;
}
#alertEmergenteDatos .saveEditingP{
	margin-top: 10px;
}
.frmAdvIns input{
	border: 1px solid #E9E9E9;
	background-color: #ffffff;
	height: 23px;
	width:60%;
	margin: 5px auto;
	display: block;
}
#content #main hr.verde{
	background-color: #006225;
	height: 1px;
	width: 104%;
	margin-left: -10px;
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
}
#content #main p.parrafo{
	font-family: Verdana;
	font-size: 11px;
	color:#4D4D4D;
	margin: 10px 0 10px 15px;
}
#content #main p.subtitulos{
	color:#0C8141;
	font-family: Verdana;
	font-size: 11px;
}
#content #main span{
	font-family: Verdana;
	font-size: 11px;
	color:#4D4D4D;
	margin: 10px 0 10px 15px;
}
#content #main input#nameanuncio{
	width: 425px;
}
#content #main input#diranuncio{
	width: 507px
}
#content #main input.verde{
	color:#0C8141;
}
#content #main span.verde{
	color:#0C8141;
}
#content #main .bottomSearchAdv{
	background-image: url(../img/botAdv.jpg);
	display: block;
	text-align: center;
	color: white;
	height: 19px;
	padding: 2px 20px 0;
	font-size: 12px;
	font-family: Verdana;
	width: 70px;
	float: left;
	margin-top: 13px;
	margin-left: 10px;
}
#content #main .selImagen{
	margin-left: 15px;
	float: left;
	margin-top: 13px;
	width: 156px;
	background-color: transparent;
	border: 1px solid #E9E9E9;
}
#content #main .prev11,#content #main .prev12,#content #main .prev13,
#content #main .prev21,#content #main .prev22,#content #main .prev23,
#content #main .prev31,#content #main .prev32,#content #main .prev33{
	width: 156px;
	height: 112px;
	border: 1px solid #E9E9E9;
	float: left;
	margin-right: 30px;
}
#content #main .example{
	color: #0C8141;
	text-align: left;
	padding-bottom: 10px;
	margin: 0px;
	width: 120px;
	display: block;
}
#content #main .prev11 div,#content #main .prev21 div,#content #main .prev31 div{
	background-image: url(../img/prev0.jpg);
	background-repeat: no-repeat;
	width: 106px;
	height: 79px;
	margin: 15px auto 0;
}
#content #main .prev12 div{
	width: 60px;
	height: 25px;
	border: 1px solid #E9E9E9;
	margin: 42px auto 0;
}
#content #main .prev13 div{
	width: 60px;
	height: 25px;
	margin: 42px auto 0;
	background-image: url(../img/prev1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
#content #main .prev22 div{
	width: 103px;
	height: 33px;
	border: 1px solid #E9E9E9;
	margin: 42px auto 0;
}
#content #main .prev23 div{
	width: 103px;
	height: 33px;
	margin: 42px auto 0;
	background-image: url(../img/prev2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
#content #main .prev32 div{
	width: 45px;
	height: 45px;
	border: 1px solid #E9E9E9;
	margin: 34px auto 0;
}
#content #main .prev33 div{
	width: 45px;
	height: 45px;
	margin: 42px auto 0;
	background-image: url(../img/prev3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
#content #main .requisitos{
	float: left;
	padding-left: 15px;
}
#content #main .requisitos div{
	float: left;
	width: 190px;
}
#content #main .requisitos div span{
	color: #0C8141;
	margin: 0;
}
#content #main .requisitos div span span{
	font-family: Verdana;
	font-size: 11px;
	color: #4D4D4D;
	margin: 10px 0 10px 15px;
}
#content #main .requisitos img{
	float: left;
	margin: 10px 0 15px;
}
#content #main .requisitos .saveEditingP {
    color: #FFFFFF;
    font-size: 10px;
    height: 17px;
    margin-right: 3px;
    padding-top: 0;
    text-transform: capitalize;
    top: -6px;
    width: 60px;
    float: right;
}
#content #main .yourAdvertisement{
	border-top: 1px solid #006225;
	padding: 10px 10px 10px 0px;
	margin-top: 10px;
	margin-left: 15px;
	text-align: left;
	float: left;
	width: 280px;
}
#content #main .yourAdvertisement a{
	display: block;
	color:#000000;
	text-decoration: none;
	font-size: 12px;
	padding: 2px 0;
}
#content #main .yourAdvertisement a:hover,#content #main .yourAdvertisement a.active{
	color:#006225;
	text-decoration: none;
}
#content #main .timeBar{
	border-left: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
	float: left;
	width: 100%;
}
#content #main .timeBar .start{
	margin: 0;
	font-size: 10px;
	float: left;
	color: black;
}
#content #main .timeBar .end{
	float: right;
	margin: 0;
	font-size: 10px;
	color: black;
}
#content #main .timeBar .bar{
	float: left;
	width: 100%;
	height: 19px;
	background-color: #E8E8E8;
	margin: 15px 0 0;
}
#content #main .timeBar .bar .today{
	font-size: 12px;
	color: #006225;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	top: -15px;
	left: -105px;
}
#content #main .timeBar .bar div{
	background-image: url(../img/statV.jpg);
	background-position: 100% top;
	height: 19px;
	background-repeat: no-repeat;
	float: left;
	width: 80%;
	background-color: #5CAA7F;
}
#content #main .timeBar .timeSlope{
	font-size: 10px;
	float: right;
	text-align: right;
	margin: 6px 3px 0 0px;
}
#content #main .resumTitle{
	background-image: url(../img/statSummary.png);
	display: block;
	background-repeat: no-repeat;
	margin: 0;
	color: white;
	padding: 3px 0px 3px 5px;
	font-size: 12px;
}
#content #main .resumen{
	border-top: 1px solid #B2B2B2;
}
#content #main .resumen div{
	float: left;
	width: 190px;
}
#content #main .resumen div span{
	display: block;
	font-size: 10px;
}
#content #main .resumen div span.verde{
	font-size: 12px;
}
#content #main .resumen table{
	width: 378px;
}
#content #main .resumen table tbody tr th,#content #main .resumen table tfoot tr td{
	color: #0C8141;
	font-weight: bold;
	padding: 10px 15px;
}
#content #main .resumen table thead tr th{
	padding-left: 10px;
}
#content #main .resumen table tbody tr td{
	color: #4D4D4D;
	font-size: 10px;
	padding: 5px 15px;
}
#content #main .apply{
	background-image: url(../img/sortApply.jpg);
	background-repeat: no-repeat;
	display: block;
	width: 68px;
	height: 18px;
	color: white;
	font-size: 12px;
	text-align: center;
	padding-top: 2px;
	float: left;
}
#content #main .month{
	background-image: url(../img/sort1.png);
	background-repeat: no-repeat;
	float: left;
	display: block;
	padding-top: 2px;
	height: 18px;
	color: white;
	font-size: 12px;
	width: 89px;
	text-align: center;
	margin-left: 2px;
}
#content #main .week{
	background-image: url(../img/sort2.png);
	background-repeat: no-repeat;
	float: left;
	display: block;
	height: 18px;
	padding-top: 2px;
	font-size: 12px;
	color: white;
	text-align: center;
	width: 103px;
	margin-left: -9px;
}
#content #main .statSearch{
float: left;
height: 18px;
margin-right: 3px;
color: #4D4D4D;
font-size: 10px;
width: 80px;
background-color: transparent;
border: 1px solid #B2B2B2;
z-index: 100;
position: relative;
padding-left: 70px;
}
#content #main .desd{
	color: #0C8141;
	font-size: 10px;
	text-transform: capitalize;
	background-image: url(../img/sortDate.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 1px;
	background-position: right center;
	padding-right: 14px;
	margin-top: 3px;
	z-index: 10;
}
#content #main .hasta{
	color: #0C8141;
	font-size: 10px;
	text-transform: capitalize;
	background-image: url(../img/sortDate.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 154px;
	background-position: right center;
	padding-right: 14px;
	margin-top: 3px;
	z-index: 10;
}
#content #main .print{
	font-size: 11px;
	color: #0C8141;
}
#content #main .clic{
	font-size: 11px;
	color: #FFAD3F;
}
#footer {
	position: initial;
	background-image: none;
	border: none;
	margin-top: 25px;
	width: 100%;
	clear: both;
}
#footMenu, #footMenuDos {
	left: 0;
	position: initial;
}
#availLang {
	bottom: 48px;
}
.ie #lang{
	position:relative;
}
.ie #availLang{
	bottom: 12px;
	left: 170px;
}
.saveEditingP{
	font-size: 12px;
}
#content #main TEXTAREA,#content #main INPUT {
	background-color: transparent;
	border: 1px solid #E9E9E9;
	height: 18px;
}
#content #main TEXTAREA{
	margin-left: 15px;
	width: 302px;
	height: 85px;
}
#content #main .cantcaract{
	width: 225px;
	text-align: right;
	margin-left: 15px;
	float: left;
}
#content #main label{
	font-size: 11px;
	font-family: Verdana;
	color: #4D4D4D;
	margin-left: 15px;
	top: 0px;
	background-position: left 10px;
	padding-left: 15px;
}
#content #main .verd{
	color:#0C8141;
}
#content #main .cost{
	border: 1px solid #E9E9E9;
	height: 16px;
	padding: 2px 3px 0 3px;
	float: left;
	margin: 0 5px;
	font-size: 11px;
}
#content #main .cost{
	color:#0C8141;
	width: 45px;
}
#content #main .price input,#content #main .time input{
	width: 80px;	margin-right:5px;
	font-size: 11px;
	float: left;
}
#content #main .previewend{
	float: left;
	margin: -10px auto 0;
	padding: 15px 0;
	width: 260px;
}
#content #main .previewend div,#content #main #previewAnuncioTipo11,#content #main #previewAnuncioTipo21{
	background-image: url(img/advertismentT102.jpg);
	background-repeat: repeat-y;
	padding: 10px 0 10px 5px;
	width: 210px;
	margin: 10px auto;
	height: 145px;
}
#content #main #previewAnuncioTipo12,#content #main #previewAnuncioTipo22{
	display: block;
	background-color: #DDDEDE;
	border-bottom: 3px solid #A9AAAA;
}
#content #main .previewend div .title,#content #main #previewAnuncioTipo11 #tituloAnuncioTipo11,#content #main #previewAnuncioTipo21 #tituloAnuncioTipo21{
	margin: 0;
	color: #0C8141;
	font-size: 12px;
	display: block;
	font-weight: bold;
}
#content #main #previewAnuncioTipo12 #tituloAnuncioTipo12,#content #main #previewAnuncioTipo22 #tituloAnuncioTipo22{
	margin: 0;
	color: #0C8141;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	float: left;
}
#content #main .previewend div a{
	font-size: 12px;
	color: #4D4D4D;
	text-decoration: none;
	display: block;
}
#content #main .previewend div img,#content #main #previewAnuncioTipo11 #imagenAnuncioTipo11,#content #main #previewAnuncioTipo21 #imagenAnuncioTipo21{
	float: left;
	margin: 10px 4px 5px -3px;
}
#content #main #previewAnuncioTipo12 #imagenAnuncioTipo12,#content #main #previewAnuncioTipo22 #imagenAnuncioTipo22{
	margin-left: 150px;
	margin-top: 5px;
	float: left;
	margin-bottom: 5px;
	padding-left: 10px;
	border-left: 1px solid #CCC;
	margin-right: 10px;
}
#content #main .previewend div p,#content #main #previewAnuncioTipo11 #textoAnuncioTipo11,#content #main #previewAnuncioTipo21 #textoAnuncioTipo21{
	font-size: 10px;
	margin-top: 10px;
	float: left;
	width: 117px;
}
#content #main #previewAnuncioTipo12 #textoAnuncioTipo12,#content #main #previewAnuncioTipo22 #textoAnuncioTipo22{
	font-size: 11px;
	margin-top: 5px;
	float: left;
	width: 260px;
}
#content #main .Errormsgs,#content #main #Errormsgs{
	color:red;
}